  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div id="formsContainer">
        <% for (let formKey in data) { %>
          <div class="form">
            <h2>Form <%= formKey %></h2>
            <p><strong>Payment Mode:</strong> <%= data[formKey].paymentMode %></p>
            <p><strong>Income:</strong> <%= data[formKey].income %> (<%= data[formKey].incomeWords %>)</p>
            <p><strong>Expense:</strong> <%= data[formKey].expense %> (<%= data[formKey].expenseWords %>)</p>
          </div>
        <% } %>
      </div>
  </body>
  </html>